<table class="table table-hover table-bordered datatable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Creator Name</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Supplier Name</th>
    <th>Created At</th>
    <th>Currency Symbol</th>
    <th>Total Gross Amount</th>
    <th>Total Net Amount</th>
    <th>Base Gross Amount</th>
    <th>Currency ID</th>
    <th>Keywords</th>
  </tr>
</thead>
  <tbody>
    <% DATA.each do |data| %>
        <tr>
          <td><%= data["id"] %></td>
          <td><%= data["creator_name"] %></td>
          <td><%= data["amount"] %></td>
          <td><%= data["status"] %></td>
          <td><%= data["supplier_name"] %></td>
          <td><%= custom_time_format(data["created_at"])  %></td>
          <td><%= data["currency_symbol"] %></td>
          <td><%= data["total_gross_amount"] %></td>
          <td><%= data["total_net_amount"] %></td>
          <td><%= data["base_gross_amount"] %></td>
          <td><%= data["currency_id"] %></td>
          <td><%= data["keywords"] %></td>
        </tr>

    <% end %>
  </tbody>
</table>
